<div class='container'>
    <h2 style='text-align: center;color: blueviolet;'>Cuctomer Orders</h2>
</div>
<!--table-->
<div class='container'>
    <button [routerLink]="['ordercreation']" title='Create New Order' class="addbtn  glyph bt-sm float-right "
        (click)='OpenPopup(0)'>
        +
    </button>
    <div class="table-responsive-sm">
        <table class="table table-bordered
                          table-hover
                          table-stripped
                          table-condensed">
            <thead class="theadcolor">
                <tr>
                    <th>S.NO</th>
                    <th>OrderCode</th>
                    <th>Order Name</th>
                    <th>Order Contact</th>
                    <th>Order Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let item of orderRecords|paginate:config;'>
                    <td>{{item.sno}}</td>
                    <td>{{item.orderCode}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.contactNo}}</td>
                    <td>{{item.orderdate|date}}</td>
                    <td>
                        <button style='outline: none;border: none;' class='mat-icon-button'
                            (click)="ViewOrderDetail(item.id)" title='View Order Details'>
                            <mat-icon color="primary" class="mat-18 deleteIcon">visibility</mat-icon>
                        </button>
                        <button style='outline: none;border: none;' class='mat-icon-button'
                         title='Print Order Details' (click)='NavigateInvoicePage(item.id)'>
                            <mat-icon color="primary" class="mat-18 deleteIcon">receipt</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
    <button class="btn btn-primary   glyph bt-sm float-right" style='margin-right: 100px;cursor: pointer;background-color: hotpink;border-color: hotpink;'
        [routerLink]= "['']">Back</button>
</div>
<!--Order Items Grid View popup-->
<div class="modal fade" id="orderItemsModel">
    <div class="modal-dialog modal-dialog-centered modal-xl" data-keyboard="false" data-backdrop="satic">
        <div class="modal-content ">
            <div class="modal-header bg-success" style='padding: 6px;margin-bottom: 8px;'>
                <h4 style="margin: 0px;color: white;" id="m_title" class='modal_title'></h4>
                <button (click)='close()' class="close ,pull-right" data-dismiss="modal"
                    style="color: white;outline: none;font-weight: 400;">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <!--order Items Grid view table-->
                <div class='container'>
                    <!--Customer Detail Table-->
                    <table class="table table-bordered
                        table-hover
                        table-stripped
                        table-condensed">
                    <thead style="background-color: rgb(173, 175, 177);color: white;">
                        <tr>
                            <th>OrderCode</th>
                            <th>Customer Name</th>
                            <th>Cpontact No</th>
                            <th>Order Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let item of customerData;let i= index'>
                            <td style="padding: 2px;">{{item.orderCode}}</td>
                            <td style="padding: 2px;">{{item.name}}</td>
                            <td style="padding: 2px;">{{item.contactNo}}</td>
                            <td style="padding: 2px;">{{item.orderdate|date:short}}</td>
                            
                        </tr>
                    </tbody>
                </table>
                 <!--Order Item Details Table-->
                    <table class="table table-bordered
                        table-hover
                        table-stripped
                        table-condensed">
                        <thead style="background-color: rgb(173, 175, 177);color: white;">
                            <tr>
                                <th>S.No</th>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let item of orderItemsarray;let i= index'>
                                <td style="padding: 2px;">{{i+1}}</td>
                                <td style="padding: 2px;">{{item.name}}</td>
                                <td style="padding: 2px;">{{item.quantity}}</td>
                                <td style="padding: 2px;">{{item.price}}</td>
                                <td style="padding: 2px;">{{item.total}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button id="close_btn_title"  class="btn btn-primary btn-sm "
                   >Total:&nbsp;{{totalAmount}}.00</button>
                <button id="close_btn_title" (click)='close()' class="btn btn-danger btn-sm "
                    data-dismiss="modal">close</button>
            </div>
        </div>
    </div>
</div>