<!--header-->

<div class='header'>
  <h2 style='text-align: center;color: white;padding-top: 10px;margin-bottom: 0px;'>Gajendra General Store</h2>
  <span style='right:20px;position: relative;'>
    <a style='color: white;margin-left: 33px;'>Email:vsrivenkateswara@gmail.com</a>
  </span>
  <span style='right:2px;position: fixed;padding: 2px;color: white;'>Contact No:9876655440</span>
</div>

<!--header end-->
<div>
  <router-outlet> </router-outlet>
</div>
<!--footer-->
<footer class="footer">
  <div class="jumbotron-fluid">
    <p>&copy; Sri Venkateswara General Store | Privacy Policy | Terms of Service</p>
  </div>
</footer>
